<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.7/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="wrap">
    <!-- 상단로고 -->
    <div class="logo">
        <a href="/">logo</a>
    </div>
    <div class="content-wrap">
        <!-- 왼쪽노트메뉴 -->
        <div class="side-menu">
            <ul class="menu rounded-box">
                <li th:replace="~{/fragments :: tree(${targetNote}, ${noteList})}"></li>
            </ul>
            <div>
                <form action="/note/create" method="post">
                    <input type="submit" value="추가">
                </form>
            </div>
            <div>
                <form action="/note/delete" method="post">
                    <input type="hidden" name="targetNoteid" th:value="${targetNote.id}">
                    <input type="button" value="삭제" onclick="confirmAction(this, DELETE)">
                </form>
            </div>
            <div>
                <form action="/note/groupAdd" method="post">
                    <input type="hidden" name="targetNoteid" th:value="${targetNote.id}">
                    <input type="submit" value="그룹추가">
                </form>
            </div>
        </div>
        <!-- 왼쪽포스트메뉴 -->
        <div class="side-menu">
            <ul>
                <li th:each="post : ${postList}" th:class="${post.id == targetPost.id} ? 'now' : ''">
                    <a th:href="@{|/post/${post.id}|}" th:text="${post.title}"></a>
                </li>
            </ul>
            <div>
                <form action="/post/write" method="post">
                    <input type="hidden" name="targetNoteid" th:value="${targetNote.id}">
                    <input type="submit" value="추가">
                </form>
            </div>
        </div>
        <!-- 중앙컨텐츠 -->
        <div class="content">
            <form action="/post/update" method="post">
                <div>
                    <input type="hidden" name="targetPostid" th:value="${targetPost.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetPost.title}">
                </div>
                <div>
                    <textarea name="content" cols="30" rows="10" th:text="${targetPost.content}"></textarea>
                </div>
                <div>
                    <input type="button" value="수정" onclick="confirmAction(this, UPDATE)">
                </div>
            </form>
            <form action="/post/delete" method="post">
                <input type="hidden" name="targetPostid" th:value="${targetPost.id}">
                <input type="button" value="삭제" onclick="confirmAction(this, DELETE)">
            </form>
        </div>
    </div>
</div>
<script>
    UPDATE = {
        'msg' : '수정하시겠습니까?'
    }
    DELETE = {
        'msg' : '삭제하시겠습니까?'
    }

    function confirmAction(input, action) {
        if (confirm(action.msg)) {
            input.form.submit();
        }
    }

</script>
</body>
</html>